
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.ratata{
    margin-top: 100px;
    max-width: 300px;
    font-size: x-large;
    font-weight: 900;
    color: brown;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
.ratata:hover{
    color: blue;
}
.ratata:active{
    color: yellowgreen;
    background-color: darkorchid;
}